@font-face {
    font-family: 'minecraft';
    src: url('MinecraftRegular-Bmg3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/dirt-escuro.png);
    background-size: 10vh;
    background-repeat: repeat;
    image-rendering: pixelated;
}

.barra-cima {
    background-image: url(img/dirt-meio-escuro-png.png);
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: 10vh;
    display: flex;
    text-align: center;
    font-size: 2.25vh;
    align-items: end;
    align-content: center;
    justify-content: center;
}

.barra-cima input {
    height: 7vh;
    appearance: none;
    margin: 1vh 0;
    padding: 1vh;
    width: 50%;
    outline: none;
    border: 0.4vh solid rgba(185, 185, 185, 0.932);
    background-color: rgba(0, 0, 0, 0.527);
}

.barra-cima h3 {
    margin: 3vh 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.barra-baixo {
    background-image: url(img/dirt-meio-escuro-png.png);
    height: 20vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

body .content {
    color: white;
    display: flex;
    margin-top: 10vh;
    margin-bottom: 20vh;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

button {
    border-style: solid;
    border-width: 1.5vh;
    border-image-source: url('img/9-patch.png');
    border-image-slice: 40;
    background-color: white;
    background-image: url(img/fundo.png);
    background-size: 9vh;
    background-repeat: repeat;
    font-weight: bold;
    color: white;
    image-rendering: pixelated;
    padding: 0.5vh 0.5vh;
    cursor: pointer;
    text-decoration: none;
    min-width: 40vw;
    max-width: 90vw;
    text-align: center;
    text-wrap: auto;
    display: flex;
    text-shadow: 2px 2px 0px black;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

* {
    font-family: 'minecraft', sans-serif;
    text-shadow: 2px 2px 0px black;
    color: white;
}

.cancel {
    width: 20%;
}

.linguagem {
    text-align: center;
    background-color: transparent;
    width: 60%;
    margin: 3vh 0;
    height: 3vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.linguagem h3 {
    margin: 0 1vh;
    font-size: 2.5vh;
}

.linguagem img {
    height: 5vh;
}
